{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="title-register">Inscription</h1>
    {{ form_start(registrationForm, {'attr': {'class': 'form-register'}}) }}
        {{ form_row(registrationForm.username, {'label': 'Nom d\'utilisateur : '}) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe : '
        }) }}
        {{ form_row(registrationForm.nbHousehold, {'label': 'Personnes dans le foyer : '}) }}
        {{ form_row(registrationForm.zipcode, {'label': 'Code postal : '}) }}

        {{ form_row(registrationForm.city, {'label': 'Ville : '}) }}
        {{ form_row(registrationForm.street, {'label': 'Rue : '}) }}
        {{ form_row(registrationForm.email, {'label': 'Email : '}) }}

        {{ form_row(registrationForm.agreeTerms, {'label': 'Termes d\'utilisation : '}) }}
        <div>
            <button type="submit" class="btn">Inscription</button>
        </div>

    {{ form_end(registrationForm) }}
{% endblock %}

{% block nav %}
{% endblock %}
