{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
{% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class='login-container'>
    <h1 class='login-title'>Connectez-vous !</h1>
        <form action="{{ path('login') }}" method="post" class='login-form'>

            <label for="username"></label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"placeholder="Pseudo"/>

            <label for="password"></label>
            <input type="password" id="password" name="_password" placeholder="Mot de passe"/>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <input type="hidden" name="_target_path" value="{{ path('garbage_latest') }}"/>

            <button type="submit">Se connecter</button>
        </form>
        <a href='/recover/'>Mot de passe oublié ?</a>
    </div>
    <div class='create-redirect-container'>
        <p>Vous n'avez pas de compte ?</p>
        <div class='create-redirect-content'>
            <a class='create-redirect' href="/register/">Créer mon compte</a>
        </div>
    </div>
{% endblock %}

{% block nav %}
{% endblock %}
