<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<title>
		{% block title %}Incit'Easy{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header></header>
		<main>
			{% for category, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}

		{% block body %}{% endblock %}
		</main>
		<footer>
		{% block nav %}
			{% if app.user %}
			<nav class="nav">
				<a href="{{ path('garbage_latest') }}"><i class="fas fa-home"></i></a>
				<a href="{{ path('profile_show', {id: app.user.id}) }}"><i class="fas fa-user"></i></a>
				<a href="{{ path('post_index') }}"><i class="fas fa-users"></i></a>
			</nav>
			{% endif %}
		{% endblock %}
		</footer>
	</body>
</html>
