<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">		<title>
			{% block title %}Incit'Easy{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header></header>
		<main>
		{% block body %}{% endblock %}
		</main>
		<footer>
			<nav class="nav">
				<a href="{{ path('garbage_show', {id: (app.user.garbages|last).id}) }}"><i class="fas fa-home"></i></a>
				<a href="{{ path('profile_show', {id: app.user.id}) }}"><i class="fas fa-user"></i></a>
				<a><i class="fas fa-users"></i></a>
			</nav>
		</footer>
	</body>
</html>
