{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    <section class="garbage-dashboard">
        <div class="garbage-total-container">
            <h1>Votre dernière levée</h1>
            <div class="progress">
                <div class="overflow">
                    <div class="shift-caliber">
                        <div id="bar" class="bar">
                        </div>
                    </div>
                    <p class="current-garbage">{{ totalGarbage }}kg</p>
                    <p class="max-garbage">7kg <!-- x(times) nbUser --></p>
                </div>
                <span id="bar-percent" hidden>{{ (totalGarbage / 7) * 100 }}</span>
            </div>
            {% if totalGarbage < 7 %}
                <p>Génial ! Un vrai exemple pour la communauté !</p>
            {% elseif totalGarbage == 7 %}
                <p>Bravo ! Vous avez respecté votre objectif !</p>
            {% else %}
                <p>Dommage, mais avec quelques petits efforts, vous atteindrez l'objectif !</p>
            {% endif %}
        </div>
        <div class='garbage-detail-container'>
            <h2>Ce que vous avez jeté</h2>
            <div class='chart'>
                <label for='non-recycled' style="width:{{ (garbage.nonRecycledWaste / totalGarbage) * 100 }}%" class='nonRecycled part'>
                    <p>Sac noir {{ (garbage.nonRecycledWaste / totalGarbage) * 100 }}%</p>
                </label>
                <label for="recycled" style="width:{{ (garbage.recycledWaste / totalGarbage) * 100 }}%" class='recycled part'>
                    <p>Sac jaune {{ (garbage.recycledWaste / totalGarbage) * 100 }}%</p>
                </label>
            </div>
            <input type='radio' name="info" id="non-recycled" class='non-recycled-input' hidden>
            <div class='non-recycled-container'>
                <p class='non-recycled-content'>Vous avez produit {{ garbage.nonRecycledWaste }}kg de déchets non-recyclables, soit {{ (garbage.nonRecycledWaste / totalGarbage) * 100 }}% de vos déchets totaux. Pour réduire encore ce chiffre, retrouvez des conseils ici </p>
            </div>
            <input type='radio' name="info" id="recycled" class='recycled-input' hidden>
            <div class='recycled-container'>
                <p class='recycled-content'>Vous avez produit {{ garbage.recycledWaste }}kg de déchets recyclables, soit {{ (garbage.recycledWaste / totalGarbage) * 100 }}% de vos déchets totaux. C'est déjà bien, mais on peut faire encore mieux en suivant les conseils ici </p>
            </div>
        </div>
    </section>
{% endblock %}
