{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    {% set yearly_recycled_data = 0 %}
    {% set yearly_nonrecycled_data = 0 %}
    {% set yearly_recycled_objective = app.user.recycledObjective * app.user.nbHousehold %}
    {% set yearly_nonrecycled_objective = app.user.nonRecycledObjective * app.user.nbHousehold %}

    {% if yearlyGarbages|length != 0 %}
        {% for garbage in yearlyGarbages|filter(garbage => garbage.type == 'recycled') %}
            {% set yearly_recycled_data = yearly_recycled_data + garbage.weight %}
        {% endfor %}
        {% for garbage in yearlyGarbages|filter(garbage => garbage.type == 'nonRecycled') %}
            {% set yearly_nonrecycled_data = yearly_nonrecycled_data + garbage.weight %}
        {% endfor %}
    {% endif %}

    {% set total_weight = 0 %}
    {% if garbages|length != 0 %}
        {% for garbage in garbages %}
            {% set total_weight = total_weight + garbage.weight %}
        {% endfor %}
    {% else %}
        {% set total_weight = 0.1 %}
    {% endif %}
    {% set total_objectif = (yearly_nonrecycled_objective + yearly_recycled_objective) / 52|round %}

    <section class="garbage-dashboard">
        <div class="garbage-total-container">
            <h1>Vos déchets cette semaine</h1>
            <div class="progress">
                <div class="overflow">
                    <div class="shift-caliber">
                        <div id="bar" class="bar">
                        </div>
                    </div>
                    {% if garbages|length != 0 %}
                        <p class="current-garbage">{{ total_weight }}kg</p>
                    {% else %}
                        <p class="current-garbage">0kg</p>
                    {% endif %}
                </div>
                {% if garbages|length != 0 %}
                    <span id="bar-percent" hidden>{{ (total_weight / total_objectif) * 100 }}</span>
                {% else %}
                    <span id="bar-percent" hidden>0</span>
                {% endif %}

            </div>
            <div class="sub-progress">
                <div class='warning-container'>
                    <div class='first-warning warning'></div>
                    <div class='second-warning warning'></div>
                    <div class='final-warning warning'></div>
                </div>
                <p class="max-garbage"><a href="{{ path('user_objectives', {id: app.user.id}) }}" style="color: #eee;">{{ total_objectif|round }}kg</a></p>
            </div>
            {% if total_weight == 0.1 %}
                <p class="commentary">Aucune levée n'a été enregistrée cette semaine !</p>
            {% elseif total_weight < total_objectif %}
                <p class="commentary">Génial ! Un vrai exemple pour la communauté !</p>
            {% elseif total_weight == total_objectif %}
                <p class="commentary">Bravo ! Vous avez respecté votre objectif !</p>
            {% else %}
                <p class="commentary">Dommage, mais avec quelques petits efforts, vous atteindrez l'objectif !</p>
            {% endif %}
        </div>
        {% if yearlyGarbages|length != 0 %}
            <div class='garbage-detail-container'>
                <h2>Vos objectifs à l'année</h2>
                <div class="garbage-details">
                    <div class="objective"><a href="{{ path('user_objectives', {id: app.user.id}) }}" style="color: #eee;">{{ yearly_nonrecycled_objective }}kg</a></div>
                    <div class="black">
                        <p class="fas fa-trash icon"></p>
                        <p><span>{{ yearly_nonrecycled_data|round }}kg</span></p>
                        <div class="line-progress-container">
                            <div class="line-progress-bar non-recycled" style="width:{{ (yearly_nonrecycled_data / yearly_nonrecycled_objective) * 100 }}%"></div>
                        </div>
                    </div>
                    <div class="objective"><a href="{{ path('user_objectives', {id: app.user.id}) }}" style="color: #eee;">{{ yearly_recycled_objective }}kg</a></div>
                    <div class="yellow">
                        <p class="fas fa-recycle icon"></p>
                        <p><span>{{ yearly_recycled_data|round }}kg</span></p>
                        <div class="line-progress-container">
                            <div class="line-progress-bar recycled" style="width:{{ (yearly_recycled_data / yearly_recycled_objective) * 100 }}%"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}