<section class="user-info">
    <h1>{{ user.username }}</h1>
    <p><i class="fas fa-envelope"></i> {{ user.nbHousehold }}</p>
    <p><i class="fas fa-envelope"></i> {{ user.email }}</p>
    <p><i class="fas fa-city"></i> {{ user.city }} - {{ user.zipcode }}</p>
</section>