<section class="user-info">
    <h1>{{ user.username }}</h1>
    <p><i class="fas fa-user-friends"></i> {{ user.nbHousehold }}</p>
    <p><i class="fas fa-envelope"></i> {{ user.email }}</p>
    <p><i class="fas fa-city"></i> {{ user.adress.city }} - {{ user.adress.zipcode }}</p>
</section>