{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {% for user in users %}
        <div>
        <p>{{ user.id }}</p>
        <p>{{ user.username }}</p>
        <p>{{ user.roles }}</p>
        <p>{{ user.street }} {{ user.zipcode }} {{ user.city }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.createdAt }}</p>
        </div>
    {% endfor %}
{% endblock %}
